Qn.1)
1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

*
'hello'
-87.8
-
/
+
6

Answer: 

VALUES: 6, 'hello', (-87.8 is float value)
EXPRESSIONS: *, -, /, +

Qn.2) What is the difference between string and variable ?

Answer: The main difference between string and variable are as follows:

VARIABLE is used to save the information, And save data can be in any form or type e.g string, integer, float etc.

STRINGS is used as information (word form), which is stored and saved under VARIABLE.

e.g

RESULT = 'I got 90 out of 100'

here L.H.S = VARIABLE
R.H.S = STRING

Qn.3) Describe three different data types.

ANSWER: 

Three main data types are as follows:

1. int (integer)
This data types include whole numeric number without decimal e.g 1, 2, 3, 4, 5....

2. str (string)
This data types include words and setences e.g "This is Apple"

3. list
This include list of item e.g
x = ["Cricket", "Football", "Box"]

Qn.4) What is an expression made up of? What do all expressions do?

Answer: We can say that an expression is a combination of values, variables, operators, and calls to functions. The expression in Python produces some value or result after being interpreted by the Python interpreter. 
Example:
 result = a*b-c

Qn.5) This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
Ans:
A combination of operands and operators is called an expression
An example of expression can be : Y=Y+20

A statement is not evaluated for some results. A statement is used for creating variables or for displaying values.
where a = 10  ( this is a kind of statement)
print(a)

spam = 10 -----This is a kind of statement
spam = spam + 10 -------- This is kind of expression

Qn.6) After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [1]:
# Answer
bacon = 22
bacon +1

23

Qn.7) What should the values of the following two terms be?
'spam' + 'spamspam'
'spam'* 3

In [2]:
#Answer

'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam'*3

'spamspamspam'

Qn.8) Why is eggs a valid variable name while 100 is invalid ?
Answer:
Because variable can never start with Number in Python.

Qn.9) What three functions can be used to get the integer, floating-point number, or string
version of a value?

Answer: This three function are int() , float() , and str( ) functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

Qn.10) Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos'

Answer: 'I have eaten ' + 99 + ' burritos. ' The expression causes an error because 99 is an integer, and only strings can be concatenated to other strings with the + operator, and you can not concatenate integer into it. The correct way is I have eaten ' + str(99) + ' burritos.